.newTaskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 736px;
  height: 54px;
  left: calc(50% - 736px/2);
  top: 173px;

}

.newTaskContainer textarea {
  width: 100%;
  background: var(--gray-500);
  border: 0;
  resize: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 638px;
  height: 54px;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.newTaskContainer button[type=submit]{
  color: white;
  background: var(--blue-dark);
  border: 0;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 90px;
  height: 52px;
  

}



